<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="users/base::layout(~{::section})"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>add contact</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <section>
    <div class="card mr-3 ml-3">
		<div class="card-body">
<div th:if="${message}" class="alert alert-info" role="alert" th:text="${message}">
  
</div>
      <h1 class="text-center">Add Contact</h1>
      	<div class="container-fluid mt-1">
      		<div class="row">
      			<div class="col-md-9 offset-md-1">
      	<form th:object="${contact}"
      	enctype="multipart/form-data"
      	method="POST"
      	th:action="@{/process-contact}"
      	class="mt-2">
      	
      	<!-- First name -->
      	<div class="input-group">
      		<div class="input-group-prepend">
      			<div class="input-group-text">
					      	
      	<i class="fa-solid fa-user-plus"></i> &emsp;
      	</div>
      	</div>
<input type="text" id="firstName" name="name" required placeholder="Enter name here" class="form-control"/>
      	</div>
      	<div class="input-group">
      	
      	</div>
     <!-- First name ends here-->

<div class="input-group mt-3">
      		<div class="input-group-prepend">
      			<div class="input-group-text">
					      	
      	<i class="fa-solid fa-user"></i> &emsp;
      	</div>
      	</div>
<input required type="text" id="secondName" name="secondName" placeholder="Enter second name here" class="form-control"/>
      	</div>
      	<div class="input-group">
      	
      	</div>


<!-- Phone field -->
      	<div class="input-group mt-3">
      		<div class="input-group-prepend">
      			<div class="input-group-text">
					      	
      	<i class="fa-solid fa-phone-volume"></i>&emsp;
      	</div>
      	</div>
<input type="number" id="phone" name="phone" required placeholder="Enter phone number here" class="form-control"/>
      	</div>
      	<div class="input-group">
      	
      	</div>
      
      <!-- Email field -->	
      <div class="input-group mt-3">
      		<div class="input-group-prepend">
      			<div class="input-group-text">
					      	
      	<i class="fa-solid fa-at"></i>&emsp;
      	</div>
      	</div>
<input type="email" id="email" name="email" required placeholder="Enter Email here" class="form-control"/>
      	</div>
      	<div class="input-group">
      	
      	</div>
      
      
      <!-- Work field -->
      <div class="input-group mt-3">
      		<div class="input-group-prepend">
      			<div class="input-group-text">
					      	
      	<i class="fa-solid fa-briefcase"></i>&emsp;
      	</div>
      	</div>
<input type="text" id="work" name="work" required placeholder="Enter Your Work here" class="form-control"/>
      	</div>
      	<div class="input-group">
      	
      	</div>
      	
      	<!-- Contact description -->
      	<div class="form-group mt-3">
      	
      	<textarea name="description" class="form-control" rows="10" placeholder="Enter contact description"></textarea>
      	</div>
      	
      	<!-- Contact Image field -->
      	<div class="custome-file">
      	<input type="file" required name="contactImage" />
      	</div>
      	
      	
      	<div class="container text-center">
      	<button class="btn btn-outline-primary">
      	Save Contact
      	</button>
      	</div>
      	</form>
      </div>
      </div>
      </div>
    </div>
</div>    
    
    
    <!-- Tinymce Scripts -->
      <script src="https://cdn.tiny.cloud/1/8hydg43rareijvmn02vjwg3qqy1gv8ykatyobin76hqa5izm/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

       <script>
  tinymce.init({
    selector: 'textarea',
    plugins: [
      // Core editing features
      'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
      // Your account includes a free trial of TinyMCE premium features
      // Try the most popular premium features until Oct 19, 2024:
      'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
    ],
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
  });
</script>
  <!-- Tinymce Scripts ends here -->
    </section>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
      ></script>
      
  </body>
</html>
