<!doctype html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
  th:replace="users/base::layout(~{::section})"
  >
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<section>
	<div class="card ml-2 contact-card">
	<div class="card-body">
	<h1 class="text-center">Your contacts</h1>
	
	<table class="table">
  <thead>
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Work</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c:${contacts}">
      <th scope="row" th:text="${'SCM '+c.cId}"></th>
      <td>
      <img class="contact_pic" th:src="@{'/img/'+${c.image}}" alt="profile photo" />
      <span th:text="${c.name + ' ' +c.secondName}"></span></td>
      <td th:text="${c.email}"></td>
      <td th:text="${c.phone}"></td>
      <td th:text="${c.work}"></td>
      <td>
      <a th:href="@{'/contact/'+${c.cId}}" class="btn btn-warning btn-sm">View</a>
      <a class="btn btn-primary btn-sm">Update</a>
      <a class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
   
  </tbody>
</table>
<!-- Pagination -->

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/view-contact/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentPage==i-1 ? 'active' : ''}" th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/view-contact/'+${i-1}}" class="page-link"> <span th:text="${i}"></span></a></li>
    
    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/view-contact/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>

<!-- Pagination ends here -->
	</div>
	</div>
	
</section>
</body>
</html>